* {
  --marquee-fade-edge-color: var(--mantine-color-gray-1);

  @mixin dark {
    --marquee-fade-edge-color: var(--mantine-color-dark-9);
    --mantine-color-body: var(--mantine-color-dark-9);
  }
}

body {
  background-color: var(--mantine-color-gray-1);

  @mixin dark {
    background-color: var(--mantine-color-dark-9);
  }
}

.mantine-Button-root {
  transition: all 0.2s ease;

  @mixin dark {
    background-color: var(--mantine-color-black);
    color: var(--mantine-color-dark-0);
  }

  /**
  * =JON= Remember that this is just an example!
  *
  * The hover styles apply a dark background color (var(--mantine-color-gray-9)) to all 
  * buttons regardless of their variant or current theme. 
  * This will override button variants like 'gradient', 'outline', and 'subtle', potentially 
  * breaking their visual design. 
  * Consider using a more specific selector or scoping these styles to a particular button
  * variant/class to avoid unintended side effects.
  */

  &:hover {
    background-color: var(--mantine-color-gray-9);
    transform: scale(1.02);
  }
  border-radius: 256px;
}
